<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="2.37" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net451" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.8800" targetFramework="net451" />
  <package id="SpecFlow" version="3.5.14" targetFramework="net451" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net451" />
</packages>